@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss' source('../../src');
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

/**
 * Custom variants
 */

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant icon (& > svg, & > span > svg, & > span > span > svg, & > *[data-icon], & > span > *[data-icon]);
@custom-variant busy (&:hover, &:focus, &:focus-within);
@custom-variant init (&:not(:last-child));
@custom-variant first-child (&>*:first-child);
@custom-variant last-child (&>*:last-child);

/**
 * Custom utilities
 */

@utility focus {
  @apply outline-none ring-transparent focus:ring-offset-2 focus-visible:border-transparent focus-visible:ring-[3.5px] focus-visible:ring-neutral-300 focus-visible:ring-offset-0 focus-visible:ring-offset-white  dark:focus-visible:ring-neutral-400 aria-selected:border-transparent aria-selected:ring-[3.5px] aria-selected:ring-neutral-300 aria-selected:ring-offset-0 aria-selected:ring-offset-white;
}

@utility my-trim {
  @apply first-child:mt-0 last-child:mb-0;
}

/**
 * Default prose
 */

@source "../../../../packages/shared/ui/src/variants";

/* Visual heading variants */
@custom-variant visual-h (& h1[data-visually], h2[data-visually], h3[data-visually], h4[data-visually], h5[data-visually], h6[data-visually]);
@custom-variant visual-h1 (& *[data-visually='h1']);
@custom-variant visual-h2 (& *[data-visually='h2']);
@custom-variant visual-h3 (& *[data-visually='h3']);
@custom-variant visual-h4 (& *[data-visually='h4']);
@custom-variant visual-h5 (& *[data-visually='h5']);
@custom-variant visual-h6 (& *[data-visually='h6']);

/* Default prose override */
.prose-defaults {
  /* @apply prose; */
  /* inherits color */
  --tw-prose-body: inherit;
  --tw-prose-counters: inherit;

  --lumiq-li-bullet: url('data:image/svg+xml,<svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 13.1282C14 12.6046 13.4975 12.1206 12.6465 11.7286C12.0514 11.4545 11.7594 10.7428 11.997 10.1322C12.3561 9.20931 12.3835 8.475 11.9986 8.09014C11.6215 7.71303 10.9055 7.73324 10.0053 8.07463C9.39184 8.30725 8.67985 8.01219 8.41235 7.41316C8.01595 6.52545 7.52239 6 6.98685 6C6.46509 6 5.98129 6.50025 5.5893 7.34744C5.31548 7.93923 4.60896 8.23053 3.99954 7.9986C3.09547 7.65454 2.37765 7.63267 2.00141 8.01127C1.60946 8.40321 1.64676 9.16087 2.02767 10.113C2.27273 10.7255 1.97743 11.4442 1.37682 11.7172C0.51156 12.1105 0 12.5995 0 13.1282C0 13.6567 0.512032 14.1449 1.37771 14.5388C1.96658 14.8067 2.25836 15.504 2.04243 16.1138C1.743 16.9596 1.73929 17.6303 2.1 17.9887C2.46611 18.3548 3.15488 18.3453 4.02306 18.0295C4.63036 17.8086 5.32776 18.0972 5.60243 18.6821C5.99162 19.511 6.46948 20 6.98357 20C7.51459 20 8.00361 19.4843 8.39898 18.6126C8.66712 18.0214 9.36837 17.73 9.97832 17.9522C10.8452 18.2679 11.5324 18.2775 11.9 17.9099C12.2512 17.5586 12.2577 16.9124 11.9799 16.0955C11.7732 15.4874 12.0628 14.7976 12.6461 14.5287C13.4972 14.1363 14 13.6515 14 13.1282Z" fill="%2335374F"/></svg>');
  --lumiq-li-bullet-finch: url('data:image/svg+xml,<svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 13.1282C14 12.6046 13.4975 12.1206 12.6465 11.7286C12.0514 11.4545 11.7594 10.7428 11.997 10.1322C12.3561 9.20931 12.3835 8.475 11.9986 8.09014C11.6215 7.71303 10.9055 7.73324 10.0053 8.07463C9.39184 8.30725 8.67985 8.01219 8.41235 7.41316C8.01595 6.52545 7.52239 6 6.98685 6C6.46509 6 5.98129 6.50025 5.5893 7.34744C5.31548 7.93923 4.60896 8.23053 3.99954 7.9986C3.09547 7.65454 2.37765 7.63267 2.00141 8.01127C1.60946 8.40321 1.64676 9.16087 2.02767 10.113C2.27273 10.7255 1.97743 11.4442 1.37682 11.7172C0.51156 12.1105 0 12.5995 0 13.1282C0 13.6567 0.512032 14.1449 1.37771 14.5388C1.96658 14.8067 2.25836 15.504 2.04243 16.1138C1.743 16.9596 1.73929 17.6303 2.1 17.9887C2.46611 18.3548 3.15488 18.3453 4.02306 18.0295C4.63036 17.8086 5.32776 18.0972 5.60243 18.6821C5.99162 19.511 6.46948 20 6.98357 20C7.51459 20 8.00361 19.4843 8.39898 18.6126C8.66712 18.0214 9.36837 17.73 9.97832 17.9522C10.8452 18.2679 11.5324 18.2775 11.9 17.9099C12.2512 17.5586 12.2577 16.9124 11.9799 16.0955C11.7732 15.4874 12.0628 14.7976 12.6461 14.5287C13.4972 14.1363 14 13.6515 14 13.1282Z" fill="%23626A4F"/></svg>');
  --lumiq-li-bullet-moss: url('data:image/svg+xml,<svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 13.1282C14 12.6046 13.4975 12.1206 12.6465 11.7286C12.0514 11.4545 11.7594 10.7428 11.997 10.1322C12.3561 9.20931 12.3835 8.475 11.9986 8.09014C11.6215 7.71303 10.9055 7.73324 10.0053 8.07463C9.39184 8.30725 8.67985 8.01219 8.41235 7.41316C8.01595 6.52545 7.52239 6 6.98685 6C6.46509 6 5.98129 6.50025 5.5893 7.34744C5.31548 7.93923 4.60896 8.23053 3.99954 7.9986C3.09547 7.65454 2.37765 7.63267 2.00141 8.01127C1.60946 8.40321 1.64676 9.16087 2.02767 10.113C2.27273 10.7255 1.97743 11.4442 1.37682 11.7172C0.51156 12.1105 0 12.5995 0 13.1282C0 13.6567 0.512032 14.1449 1.37771 14.5388C1.96658 14.8067 2.25836 15.504 2.04243 16.1138C1.743 16.9596 1.73929 17.6303 2.1 17.9887C2.46611 18.3548 3.15488 18.3453 4.02306 18.0295C4.63036 17.8086 5.32776 18.0972 5.60243 18.6821C5.99162 19.511 6.46948 20 6.98357 20C7.51459 20 8.00361 19.4843 8.39898 18.6126C8.66712 18.0214 9.36837 17.73 9.97832 17.9522C10.8452 18.2679 11.5324 18.2775 11.9 17.9099C12.2512 17.5586 12.2577 16.9124 11.9799 16.0955C11.7732 15.4874 12.0628 14.7976 12.6461 14.5287C13.4972 14.1363 14 13.6515 14 13.1282Z" fill="%23BBDAB0"/></svg>');
  --lumiq-li-bullet-glacier: url('data:image/svg+xml,<svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 13.1282C14 12.6046 13.4975 12.1206 12.6465 11.7286C12.0514 11.4545 11.7594 10.7428 11.997 10.1322C12.3561 9.20931 12.3835 8.475 11.9986 8.09014C11.6215 7.71303 10.9055 7.73324 10.0053 8.07463C9.39184 8.30725 8.67985 8.01219 8.41235 7.41316C8.01595 6.52545 7.52239 6 6.98685 6C6.46509 6 5.98129 6.50025 5.5893 7.34744C5.31548 7.93923 4.60896 8.23053 3.99954 7.9986C3.09547 7.65454 2.37765 7.63267 2.00141 8.01127C1.60946 8.40321 1.64676 9.16087 2.02767 10.113C2.27273 10.7255 1.97743 11.4442 1.37682 11.7172C0.51156 12.1105 0 12.5995 0 13.1282C0 13.6567 0.512032 14.1449 1.37771 14.5388C1.96658 14.8067 2.25836 15.504 2.04243 16.1138C1.743 16.9596 1.73929 17.6303 2.1 17.9887C2.46611 18.3548 3.15488 18.3453 4.02306 18.0295C4.63036 17.8086 5.32776 18.0972 5.60243 18.6821C5.99162 19.511 6.46948 20 6.98357 20C7.51459 20 8.00361 19.4843 8.39898 18.6126C8.66712 18.0214 9.36837 17.73 9.97832 17.9522C10.8452 18.2679 11.5324 18.2775 11.9 17.9099C12.2512 17.5586 12.2577 16.9124 11.9799 16.0955C11.7732 15.4874 12.0628 14.7976 12.6461 14.5287C13.4972 14.1363 14 13.6515 14 13.1282Z" fill="%2398C5D5"/></svg>');
  /* --lumiq-li-arrow-bullet: url('data:image/svg+xml,<svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 7H11.25M11.25 7L6 1.75M11.25 7L6 12.25" stroke="%23626A4F" stroke-width="1.25" stroke-linecap="square" stroke-linejoin="round"/></svg>'); */
}

@theme inline {
  /**
   * Text
   */

  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.875rem;
  --text-3xl: 2.25rem;
  --text-4xl: 3rem;
  --text-5xl: 4rem;
  --text-6xl: 5rem;

  /**
   * Containers
   */

  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */

  /* --container-sm: var(--breakpoint-sm);
  --container-md: var(--breakpoint-md);
  --container-lg: var(--breakpoint-lg);
  --container-xl: var(--breakpoint-xl);
  --container-2xl: var(--breakpoint-2xl); */

  /**
   * Colors
   */

  --color-default: var(--color-tuna);

  --color-golden-120: hsl(42, 100%, 50%);
  --color-golden-100: hsl(42, 100%, 70%);
  --color-golden-80: hsl(42, 97%, 76%);
  --color-golden-60: hsl(41, 98%, 81%);
  --color-golden-40: hsl(43, 97%, 87%);
  --color-golden-20: hsl(43, 100%, 93%);

  --color-glacier-120: hsl(196, 42%, 52%);
  --color-glacier-100: hsl(196, 42%, 72%);
  --color-glacier-80: hsl(195, 41%, 77%);
  --color-glacier-60: hsl(196, 43%, 83%);
  --color-glacier-40: hsl(195, 41%, 89%);
  --color-glacier-20: hsl(198, 45%, 94%);

  --color-moss-120: hsl(104, 36%, 57%);
  --color-moss-100: hsl(104, 36%, 77%);
  --color-moss-80: hsl(104, 35%, 82%);
  --color-moss-60: hsl(106, 36%, 86%);
  --color-moss-40: hsl(102, 36%, 91%);
  --color-moss-20: hsl(107, 39%, 95%);

  --color-finch-120: hsl(78, 15%, 16%);
  --color-finch-100: hsl(78, 15%, 36%);
  --color-finch-80: hsl(79, 9%, 49%);
  --color-finch-60: hsl(78, 9%, 62%);
  --color-finch-40: hsl(78, 8%, 75%);
  --color-finch-20: hsl(72, 8%, 87%);

  --color-powder-100: hsl(235, 20%, 26%);
  --color-powder-80: hsl(234, 10%, 41%);
  --color-powder-60: hsl(236, 7%, 55%);
  --color-powder-40: hsl(235, 7%, 70%);
  --color-powder-20: hsl(240, 7%, 85%);

  --color-tuna: hsl(60, 4%, 11%);
  --color-alabaster: hsl(220, 27%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-pampas: hsl(33, 47%, 96%);
  --color-linen: hsl(34, 47%, 91%);
  --color-almond: hsl(34, 46%, 81%);
  --color-almond-hover: hsla(35, 46%, 71%);

  --color-tan: hsl(34, 47%, 51%);
  --color-firebrick: hsl(356, 83%, 41%);

  /**
   * Lengths
   */

  --thin: 1.5px;

  /**
   * Animation
   */

  --ease-bounce: cubic-bezier(0.34, 1.3, 0.64, 1);
}

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
}

/**
 * Card
 */

.group\/card {
  @apply relative isolate;

  .group\/card-anchor {
    @apply outline-none busy:underline underline-offset-3 decoration-default/40 rounded-md;

    &::before {
      content: ' ';
      position: absolute;
      inset: 0;
      z-index: 1;
      cursor: pointer;
    }
  }

  /* .group\/card-secondary {
    @apply focus;
    z-index: 2;
  } */
}

/**
 * Radix collapsible content animation
 */

[style*='--radix-collapsible-content-height'] {
  @apply overflow-hidden;
}

[style*='--radix-collapsible-content-height'][data-state='open'] {
  animation: slideDown 400ms var(--ease-bounce);
}

[style*='--radix-collapsible-content-height'][data-state='closed'] {
  animation: slideUp 400ms var(--ease-bounce);
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    height: var(--radix-collapsible-content-height);
  }

  to {
    opacity: 0;
    height: 0;
  }
}

/**
 * Themes
 */

.theme-moss {
  --theme-readable: var(--color-default);
  --theme-120: var(--color-moss-120);
  --theme-100: var(--color-moss-100);
  --theme-80: var(--color-moss-80);
  --theme-60: var(--color-moss-60);
  --theme-40: var(--color-moss-40);
  --theme-20: var(--color-moss-20);
}

.theme-golden {
  --theme-readable: var(--color-default);
  --theme-120: var(--color-golden-120);
  --theme-100: var(--color-golden-100);
  --theme-80: var(--color-golden-80);
  --theme-60: var(--color-golden-60);
  --theme-40: var(--color-golden-40);
  --theme-20: var(--color-golden-20);
}

.theme-glacier {
  --theme-readable: var(--color-default);
  --theme-120: var(--color-glacier-120);
  --theme-100: var(--color-glacier-100);
  --theme-80: var(--color-glacier-80);
  --theme-60: var(--color-glacier-60);
  --theme-40: var(--color-glacier-40);
  --theme-20: var(--color-glacier-20);
}

.theme-finch {
  --theme-readable: var(--color-white);
  --theme-120: var(--color-finch-120);
  --theme-100: var(--color-finch-100);
  --theme-80: var(--color-finch-80);
  --theme-60: var(--color-finch-60);
  --theme-40: var(--color-finch-40);
  --theme-20: var(--color-finch-20);
}
