# Dependencies and AdonisJS build
node_modules
build
storage
storage-backup
temp-storage

tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# logs
logs
logs/live.log

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
